.pdm-python
.python-version
pdm.lock
src/.env
.vscode/settings.json
bot.db
src/__pycache__/bot.cpython-312.pyc
src/__pycache__/db.cpython-312.pyc
mri_bot.db
alembic/versions/9a504bb56425_initial_migration.py
alembic/versions/__pycache__/9a504bb56425_initial_migration.cpython-312.pyc
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/database.cpython-312.pyc
src/__pycache__/keyboards.cpython-312.pyc
src/__pycache__/middlewares.cpython-312.pyc
src/__pycache__/models.cpython-312.pyc
src/__pycache__/service.cpython-312.pyc
src/__pycache__/settings.cpython-312.pyc
alembic/__pycache__/env.cpython-312.pyc
.env
alembic/versions/*
*.pyc
telegram_group_manager.db
logs/
